.create-game-form {
    border-radius: 2px;
    border: 1px solid gray;
    background: #eeeeee;
    width: 31rem;
}

.create-game-form .title {
    text-align: center;
}

.create-game-form .form-row {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.create-game-form .form-row span,
.create-game-form .form-row label {
    font-size: 1.25em;
    display: flex;
    flex-basis: 8rem;
    justify-content: flex-end;
    margin-right: 1rem;
    line-height: 1.75rem;
    user-select: none;
}

.create-game-form .form-row label {
    cursor: pointer;
}

.create-game-form .form-row input[type="text"] {
    border-radius: 2px;
    display: flex;
    flex-grow: 0.75;
    border: 1px solid gray;
    font-size: 1.2em;
}

.create-game-form .submit {
    margin-left: 9rem;
    font-size: 1.5em;
    margin-bottom: 1em;
    cursor: pointer;
}
